{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
    <div class="container security-form">
	    <form method="post" class="login-form align-items-center">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ logout_path() }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="h1 mb-3 font-weight-normal text-center">CONNEXION</h1>

            <div class="mb-3">
                <label for="inputEmail" class="form-label">Adresse Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary btn-block my-2" type="submit">
                    Connecter
                </button>
            </div>
	    </form>
    </div>
{% endblock %}
