{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container security-form">
        <div class="login-form align-items-center">
            <h1 class="h1 mb-3 font-weight-normal text-center">INSCRIPTION</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                <div class="mb-3">
                    <label for="inputLastname" class="form-label">Nom</label>
                    {{ form_widget(registrationForm.lastName,{'attr':{'class':'form form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="inputFirstname" class="form-label">Prénom</label>
                    {# form_row ==> affiche label+ input #}
                    {# form_widget ==> affiche input seulement et on peut ecrire un autre label #}
                    {{ form_widget(registrationForm.firstName,{'attr':{'class':'form form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Adresse Email</label>
                    {{ form_widget(registrationForm.email,{'attr':{'class':'form form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe',
                        'attr':{'class':'form form-control'}
                    }) }}
                </div>
                <div class="mb-3 form-check">
                    {{ form_row(registrationForm.agreeTerms,{
                        label:'Accepter les conditions',
                        'attr':{'class':'form form-check-input'}})
                    }}
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary btn-block">Créer un compte</button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
